.blog-section {
  padding: 120px 118px;
  background-color: #f9fafb;
  background-image: url(../assets/graphic/graphic_blogs.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.blog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  gap: 40px;
}

.blog-header {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: column;
  text-align: center;
}


.blog-title {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 700;
  color: #1f2937;
  font-family: "DM Sans", serif;
}

.blog-subtitle {
  font-size: 18px;
  line-height: 27px;
  color: #7b889d;
  max-width: 600px;
  font-weight: 400;
  font-family: "DM Sans", serif;
}

.blog-cards {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.blog-card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  min-height: 379px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.blog-card:hover .blog-article-title {
  color: #007bff;
  text-decoration: underline;
}

.blog-card:hover {
  transform: scale(1.05);
}

.blog-image img {
  display: block;
  width: 100%;
  height: auto;
}

.blog-content {
  display: flex;
  flex-direction: column;
  min-height: 28%;
  gap: 8px;
  justify-content: space-between;
  padding: 16px 24px;
}

.blog-article-title {
  color: #00112d;
  font-size: 20px;
  line-height: 30px;
  font-family: "DM Sans", serif;
  font-weight: 500;
}

.blog-date {
  color: #7b889d;
  font-size: 16px;
  line-height: 24px;
  font-family: "DM Sans", serif;
  font-weight: 500;
}

.blog-footer {
  text-align: center;
}

@media (max-width: 1250px) {
  .blog-title {
    font-size: 36px;
    line-height: 44px;
  }

  .blog-subtitle {
    font-size: 16px;
    line-height: 24px;
  }

  .blog-cards {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }


}

@media (max-width: 970px) {
  .blog-section {
    padding: 32px 20px;
  }

  .blog-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  .blog-image {
    overflow: hidden;
    max-height: 280px;
  }

  .blog-image img {
    background-size: cover;
  }

  .blog-cards {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .blog-title {
    font-size: 28px;
    line-height: 36px;
  }

  .blog-subtitle {
    font-size: 14px;
    line-height: 22px;
  }

  .blog-card {
    max-width: 70%;
    min-width: 335px;
  }

  .blog-button {
    padding: 14px 24px;
    font-size: 0.9rem;
  }
}
