.rectangle {
  height: 240px;
  background-color: #ffffff;
}

/* FOOTER CONTAINER */
.footer-container {
  position: relative;
  background-color: #00112d;
  color: #ffffff;
  padding-top: 250px;
  text-align: center;
}

/* CTA Section */
.cta-container {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("../assets/graphic/cta_graphic.svg");
  background-size: cover;
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  background-color: #635bff;
  color: white;
  padding: 48px 5%; 
  border-radius: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.cta-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 504px;
  gap: 24px;
}

.cta-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

/* CTA Title & Subtitle */
.cta-title {
  font-size: 48px;
  line-height: 57.8px;
  letter-spacing: -0.5px;
  text-align: center;
  font-family: "DM Sans", serif;
  font-weight: 700;
}

.cta-subtitle {
  font-size: 18px;
  line-height: 27px;
  font-family: "DM Sans", serif;
  font-weight: 400;
  text-align: center;
  color: #f9f9fb;
}

/* FOOTER */
.footer {
  position: relative;
  padding: 120px 40px 120px 40px;
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

/* Footer Content */
.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.footer-column {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 12px;
}

.footer-column h4 {
  color: #ffffff;
  font-size: 16px;
  font-family: "DM Sans", serif;
  font-weight: 500;
}

.footer-column ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

.footer-column ul li a {
  color: #7b889d;
  font-size: 14px;
  font-family: "DM Sans", serif;
  font-weight: 500;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #ffffff;
}

/* Footer Address */
.footer-address {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #7b889d;
  font-size: 16px;
  font-family: "DM Sans", serif;
  font-weight: 400;
  gap: 16px;
}

.footer-text-address {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-address a {
  text-decoration: none;
  color: #7b889d;
}

/* Footer Bottom */
.footer-bottom {
  border-top: 1px solid #374151;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.footer-bottom p {
  color: #a38cff;
  font-size: 14px;
  font-family: "DM Sans", serif;
  font-weight: 500;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .cta-container {
    padding: 40px 5%;
    top: -80px;
  }

  .cta-title {
    font-size: 36px;
    line-height: 45px;
  }

  .cta-subtitle {
    font-size: 16px;
    line-height: 24px;
  }

  .cta-input-container {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .cta-input {
    width: 100%;
    max-width: 400px;
  }

  .footer-wrapper {
    padding: 0 40px;
  }

  .footer-links {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}

@media screen and (max-width: 768px) {
  .cta-container {
    padding: 30px 5%;
    top: -60px;
    border-radius: 16px;
  }

  .cta-title {
    font-size: 28px;
    line-height: 38px;
  }

  .cta-subtitle {
    font-size: 14px;
    line-height: 22px;
  }

  .footer {
    padding: 120px 0px 56px 0px;
  }

  .cta-input {
    font-size: 14px;
    width: 100%;
    max-width: 100%;
  }

  .footer-wrapper {
    padding: 0 10px;
  }

  .footer-content {
    flex-direction: column;
    gap: 40px;
  }

  .footer-address {
    order: -1;
    max-width: 300px;
  }

  .footer-links {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .cta-container {
    width: 100%;
    padding: 20px;
    top: -40px;
    border-radius: 12px;
  }

  .cta-title {
    font-size: 24px;
    line-height: 32px;
  }

  .cta-subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .footer-wrapper {
    padding: 0 20px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .footer-address {
    order: -1; /* Tetap berada di atas */
    text-align: center;
    font-size: 14px;
  }

  .footer-links {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
