.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 64px 32px;
  background-color: #ffffff;
  position: relative;
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.highlight {
  color: #635bff;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 382px;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.hero p {
  color: #666;
  font-size: 18px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.graphics {
  position: relative;
  width: 50%;
  height: 500px;
}

.graphic {
  position: absolute;
  width: 100%;
  max-width: 280px;
  border-radius: 16px;
  text-align: left;
}

.graphic img {
  height: auto;
  display: block;
  border-radius: 12px;
}

.graphic-1 {
  left: 20px;
}

.graphic-2 {
  top: 310px;
}

.graphic-3 {
  top: 310px;
  left: 330px;
}

.data-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: left;
}

.data-menu .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-width: 92px;
}

.data-menu .data_value {
  font-size: 48px;
  line-height: 57.6px;
  letter-spacing: -0.5px;
  margin: 0;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #635bff;
}

.data-menu .data_desc {
  font-size: 16px;
  line-height: 24px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #a6aebb;
}

@media (max-width: 768px) {
  .hero {
    align-items: left;
    text-align: left;
    gap: 20px;
  }

  .email-input {
    width: 100%;
  }

  .graphics {
    display: none;
  }

  .heading {
    text-align: left;
  }
}
