.plan-section {
  padding: 50px 20px;
  background-color: #ffffff;
}

.plan-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
}

.check-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.plan-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  max-width: 549px;
}

.plan-heading {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.plan-title {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 700;
  color: #1f2937;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.plan-subtitle {
  line-height: 27px;
  font-size: 18px;
  color: #6b7280;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.toggle span {
  font-size: 16px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #a6aebb;
  cursor: pointer;
}

.toggle span.active {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #635bff;
}

.toggle-button {
  width: 58px;
  height: 32px;
  background-color: #f9f9fb;
  border: 1px solid #d8dbe0;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.circle {
  width: 24px;
  height: 24px;
  background-color: #635bff;
  box-shadow: 0px 2px 4px 0px #00000029;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  transition: transform 0.3s;
}

.circle.left {
  transform: translateX(4px);
}

.circle.right {
  transform: translateX(28px);
}

.plan-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.plan-card {
  background-color: #ffffff;
  border: 1px solid #635bff;
  border-radius: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  max-width: 378px;
  min-height: 685px;
  padding: 32px;
  text-align: left;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plan-card-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 32px;
}

.plan-card-top li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.plan-card:hover {
  transform: scale(1.05);
}

.plan-card.pro {
  background-color: #00112d;
  color: #ffffff;
}

.plan-name {
  font-size: 32px;
  line-height: 38.4px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.plan-description {
  font-size: 18px;
  line-height: 27px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  color: #7b889d;
  font-weight: 400;
  font-style: normal;
}

.plan-features {
  list-style: none;
  font-size: 18px;
  line-height: 27px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  color: #00112d;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.plan-features.pro {
  color: #ffffff;
}

.plan-features li {
  font-size: 16px;
}

.plan-price {
  font-size: 60px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  color: #635bff;
  font-weight: 700;
  align-self: flex-start;
}

.plan-price.pro {
  color: #ffffff;
}

.plan-price span {
  font-size: 16px;
  line-height: 24px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  color: #7b889d;
  font-weight: 400;
}

.plan-price.pro .plan-month {
  color: #7b889d;
}

.plan-price span {
  font-size: 16px;
  color: #6b7280;
}

.plan-card-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan-button {
  display: inline-block;
  background-color: white;
  color: #00112d;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 40px;
  border: 1px solid #635bff;
  cursor: pointer;
  width: 100%;
  align-self: flex-end;
}

.plan-button.pro {
  background-color: #635bff;
  color: white;
}

.plan-button:hover {
  background-color: #5a52e0;
  color: white;
}

@media (max-width: 1024px) {
  .plan-section {
    padding: 40px 20px;
  }
  .plan-card {
    max-width: 80%;
    min-height: auto;
    padding: 20px;
    display: flex;
    gap: 56px;
  }

  .plan-cards {
    align-items: center;
    flex-direction: column;
    gap: 40px;
  }

  .plan-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    width: 100%;
  }
  .plan-heading {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .plan-card {
    min-width: 100%;
    padding: 16px;
  }
}

@media (max-width: 480px) {
  .plan-card {
    padding: 12px;
  }
}
