/* Email Input CSS */

.email-input {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 40px;
  padding: 6px 6px 6px 18px;
  overflow: hidden;
}

.email-input input {
  border: none;
  padding: 10px 15px;
  outline: none;
  font-size: 14px;
  flex: 1;
  border-radius: 25px 0 0 25px;
}