.blog-section {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 50px 20px;
  background-color: #f9fafb;
  gap: 40px;
}

.blog-header {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-direction: column;
}

.blog-tag {
  display: inline-block;
  background-color: #e0e7ff;
  color: #4338ca;
  font-size: 14px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 8px;
}

.blog-title {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 700;
  color: #1f2937;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  gap: 10px;
}

.blog-subtitle {
  font-size: 18px;
  line-height: 27px;
  color: #7b889d;
  max-width: 600px;
  font-weight: 400;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  gap: 10px;
}

.blog-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.blog-card {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 300px;
  min-height: 379px;
  transition: all 0.3s;
  cursor: pointer;
}

.blog-card:hover {
  .blog-article-title{
    color: #007bff;
    text-decoration: underline;
  }
  transform: scale(1.05);
}

.blog-image img {
  display: block;
  width: 100%;
  height: auto;
}

.blog-content {
  display: flex;
  flex-direction: column;
  min-height: 28%;
  gap: 8px;
  justify-content: space-between;
  padding: 8px 24px;
} 

.blog-article-title {
  color: #00112D;
  font-size: 20px;
  line-height: 30px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.blog-date {
  color: #7B889D;
  font-size: 16px;
  line-height: 24px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.blog-footer {
  text-align: center;
  margin-top: 20px;
}

.blog-button {
  background-color: #635BFF;
  border: none;
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
  padding: 18px 32px;
  font-size: 1rem;
}

.blog-button:hover {
  background-color: #5a52e0;
}
