.plan-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 20px;
  background-color: #ffffff;
  gap: 40px;
}

.plan-title {
  font-size: 48px;
  line-height: 57.6px;
  font-weight: 700;
  color: #1f2937;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.plan-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  max-width: 549px;
}

.plan-subtitle {
  line-height: 27px;
  font-size: 18px;
  color: #6b7280;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.toggle span {
  font-size: 16px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #a6aebb;
  cursor: pointer;
}

.toggle span.active {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #635bff;
}

.toggle-button {
  width: 50px;
  height: 25px;
  background-color: #d8dbe0;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #635bff;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  transition: transform 0.3s;
}

.circle.left {
  transform: translateX(2px);
}

.circle.right {
  transform: translateX(25px);
}

.plan-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.plan-card {
  background-color: #ffffff;
  border: 1px solid #635bff;
  border-radius: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  max-width: 378px;
  min-height: 685px;
  padding: 32px;
  text-align: left;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plan-card-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 32px;
}

.plan-card:hover {
  transform: scale(1.05);
}

.plan-card.pro {
  background-color: #00112d;
  color: #ffffff;
}

.plan-name {
  font-size: 32px;
  line-height: 38.4px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.plan-description {
  font-size: 18px;
  line-height: 27px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  color: #7b889d;
  font-weight: 400;
  font-style: normal;
}

.plan-features {
  list-style: none;
  font-size: 18px;
  line-height: 27px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  color: #00112d;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.plan-features.pro {
  color: #ffffff;
}

.plan-features li {
  font-size: 16px;
}

.plan-price {
  font-size: 60px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  color: #635BFF;
  font-weight: 700;
  align-self: flex-start;
}

.plan-price.pro {
  color: #ffffff;
}

.plan-price span {
  font-size: 16px;
  line-height: 24px;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  color: #7B889D;
  font-weight: 400;
}

.plan-price.pro .plan-month {
  color: #7B889D;
}

.plan-price span {
  font-size: 16px;
  color: #6b7280;
}

.plan-card-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plan-button {
  display: inline-block;
  background-color: white;
  color: #00112D;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 40px;
  border: 1px solid #635bff;
  cursor: pointer;
  width: 100%;
  align-self: flex-end;
}

.plan-button.pro {
  background-color: #635bff;
  color: white;
}

.plan-button:hover {
  background-color: #5a52e0;
  color: white;
}
